* {
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: auto;
  font-weight: inherit;
  font-style: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-appearance: none;
  -moz-appearance: none;
}
html {
  font-size: 14px;
  line-height: 1.5;
  color: #16171a;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  background-color: #ffffff;
}
body {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  min-width: 320px;
}

div {
  /* border: 1px dashed red; */
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px auto 0px auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
