.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.nav .nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-menu {
  list-style: none;
}

.nav-menu-item a {
  text-decoration: none;
  color: #777;
  font-size: 14px;
}

.nav-menu-item a:hover {
  color: #74c043;
}

.nav-right .nav-phone {
  font-weight: 700;
  color: #74c043;
  font-size: 27px;
  letter-spacing: 1px;
  word-spacing: 3px;
}
